html, body {
  width: 100%;
  height: 100%;
  margin:0;
}


body {
  background-color: #E8EEE8;
  background-position: center;
  background-size: center;

  display: grid;

  grid-template-columns: [start] 1fr [side_bar] 3fr [end];
  grid-template-rows: [start] 0.5fr [search_bar] 6fr [end];
}

#sidebar {
  font-family: sans-serif;
  color: #E1EEE4;

  background-color: #435B52;

  -webkit-box-shadow: 10px 0px 39px -35px rgba(15,23,11,1);
  -moz-box-shadow: 10px 0px 39px -35px rgba(15,23,11,1);
  box-shadow: 10px 0px 39px -35px rgba(15,23,11,1);

  grid-row-start: start;
  grid-row-end: end;
  grid-column-start: start;
  grid-column-end: side_bar;

}

#sidebar > h1 {
  background-color: #264635;
  padding: 2.8rem 0rem;
  font-size: 2.4em;
  margin: 0;
  text-align: center;
  font-weight: lighter;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-top-color: #5C8C73;
  border-bottom-color: #19261F;
}

#mainTasksTabs > button, #projectsTabs > button {
  display: none;
}

#mainTasksTabs > h2, #projectsTabs > h2 {
  font-weight: lighter;
  text-align: center;

  border-width: 2px 0px 2px 0px;
  border-top-color: #649382;
  border-bottom-color: #283E36;

  border-style: solid;

  background-color: #518072;
  font-size:1.5em;

  padding: 1rem;
  margin: 0 0;
  margin-bottom: 1.5rem;

}

#projectsTabs > h2 {
  margin-top:3rem;
}

#mainTasksTabs > label, #projectsTabs > label {
  font-style: italic;
  font-weight: lighter;
  padding: 0 1rem;
  font-size: 1.3em;
  text-align: left;
  display: block;
  margin-left: 4rem;
  margin-top: 1rem;
}

#topBar {
  grid-column-start: side_bar;
  grid-column-end: end;

  grid-row-start: start;
  grid-row-end: search_bar;

  height: 50px;

  border-width: 0px 0px 3px 0px;
  border-color: #19261D;
  border-style: solid;

  background-color: #264635;
}

#editProfile {
    padding: 2rem;
    padding-top: 1rem;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 40%;
    left: 20%;
    background-color: #29382c;

    display: grid;

    border-width: 2px 2px 2px 2px;
    border-color: #dce5de;
    border-style: solid;
}

#editPassword > form, #editUsername > form {
  display: block;
}

#mainArea {
  overflow: scroll;
}


.task {
  display: grid;
  grid-template-columns: [start_main] 20fr [add_button] 0.1fr [delete_button] 0.1fr [radio_button] 1fr [end_main];
  overflow: hidden;

  grid-column-start: start_main;
  grid-column-end: end_main;

  font-family: sans-serif;

  padding-bottom: 0;
  margin-bottom: 0;

  border-width: 0px 0px 3px 0px;
  border-color: #19261D;
  border-style: solid;
}

.task > h2{
  padding-bottom: 0;
  padding-left: 2rem;
  grid-column-start: start_main;
  grid-column-end: add_button;

  float:left;
  font-size: 1.3em;
  font-weight: lighter;
  text-align: left;
}

.task > .date {
  display: none;
}

.task > .category {
  display: none;
}

.task > img {
  width: 30px;
}

#addNewItemImage {
  margin-top: auto;
  margin-bottom: auto;
  width: 40px;
  height: 40px;
  grid-column-start: add_button;
  grid-column-end: delete_button;
}

#popupItem {
  visibility: hidden;
}

.task > .addNewItem {
  display: flex;
  grid-column-start: add_button;
  grid-column-end: delete_button;
}

.task > input {
  grid-column-start: radio_button;
  grid-column-end: end;
}

ol {
  margin: 0;
  padding: 0;
  grid-template-columns: [start_main] 6fr [add_item_button] 0.5fr [delete_item_button] 0.5fr [radio_button] 0.5fr [end_main];
  grid-column-start: start_main;
  grid-column-end: end_main;
}

.item {
  display: flex;
  grid-column-start: start_main;
  grid-column-end: end_main;

  background-color: #65876c;

  width:100%;

  margin: 0;
  padding: 0;

  border-width: 2px 1px 0px 2px;
  border-color: #19261D;
  border-style: solid;
}

.item > h2 {
  grid-column-start: start_main;
  grid-column-end: add_item_button;

  color: white;

  padding-left: 3rem;
  float:left;
  font-size: 1em;
  font-weight: lighter;
  text-align: left;
}

#itemTabButton, #taskTabButton {
  padding-right: 0;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
  grid-column-start: radio_button;
  grid-column-end: end_main;
}

.item > .completed, .item > .itemDate {
  display: none;
}




#settingSvg {
  width: 20px;
  position: absolute;
  top: 15px;
  right: 20px;
}

#logoutIcon {
  width: 20px;
  position: absolute;
  top: 15px;
  right: 55px;
}

/* The actual popup */
#popup, #popupItem {
    padding: 2rem;
    padding-top: 1rem;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    bottom: 30%;
    left: 50%;
    background-color: #29382c;

    display: grid;

    border-width: 2px 2px 2px 2px;
    border-color: #dce5de;
    border-style: solid;
}

#popup > label, #popupItem > label, form > label {
  padding: 0.5rem;
  font-family: sans-serif;
  color: #cce5d1;
  text-align: center;
}

#popup > button, #popupItem > label {
  width: 40%;
  padding-top: 1rem;
  margin: auto;
}

#closeNewListImage, #closeNewItemImage, #closeEditImage {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 13px;
}

/* Container */
.addNew > img {
  width: 70px;
  position: absolute;
  right: 5%;
  bottom: 7%;
}


/* Change placeholder properties */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #b2d8c3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #b2d8c3;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #b2d8c3;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b2d8c3;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #b2d8c3;
}
