

body {
	background-image: url('../resources/background_login.png');
	background-position: center;
	background-size: center;
    background-repeat: no-repeat;

	margin-top:1em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#mainTitle {
	margin-left: auto; 
	margin-right: auto;
	width: 800px;
	margin-top: 4rem;
	font-size: 3.6em;
	border-style: solid;
    border-width: 4px 7px 4px 7px;
    border-radius: 5px;
    border-color: #ececec;
	font-family: fontawesome, sans-serif;  
	color: #ececec;
}

#loginTab, #signupTab {
	-webkit-transition: 0.3s;
	transition: 0.3s;
	display: none;
	padding: 20px 0 0;
}

body > div {
	margin: auto;
}

body > input {
	display: none;
	background-color: #298a54;
}

body > label {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
 	padding: 10px 25px;
  	font-weight: 600;
  	text-align: center;
  	color: #ececec;
  	border: 1px solid transparent;
  	font-family: fontawesome, sans-serif;  
}

body > label {
    color: #3eb171;
    background-color: #298a54;
}

input:checked + label {
    color: #6cffac;
    background-color: #135731;
    border-top: 2px solid #97ffc4;
    border-bottom: 2px solid #26794a;
}

#tab1:checked ~ #loginTab,
#tab2:checked ~ #signupTab {
    display: block;
}

input[type=text] {
	background-color: #298a54;
   	width: 500px;
    padding: 12px 20px;
    margin: 8px auto;
    box-sizing: border-box;
    border: 2px solid #77ca99;
    outline: none;  
	color: #b2d8c3;
	text-align: center;
	-webkit-transition: 0.3s;
    transition: 0.3s;
    
}

input[type=submit] {
	background-color: #298a54;
   	width: 100px;
    padding: 6px 10px;
    margin: 8px auto;
    box-sizing: border-box;
    border: 2px solid #77ca99;
    outline: none;  
	color: #b2d8c3;
	text-align: center;
	-webkit-transition: 0.3s;
    transition: 0.3s;
}

input[type=text]:hover {
	border: 2px solid #d1f7e1;
	background-color: #216840;
    color: #dbefe4;
}

input[type=text]:focus {
	border: 2px solid #e3fced;
	background-color: #184f30;
	box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.05), 0 0px 30px 2px rgba(0, 0, 0, 0.05);
    color: #eafff3;
}

input[type=submit]:hover {
	border: 2px solid #d1f7e1;
	background-color: #216840;
    box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
    color: #dbefe4;
}

input[type=submit]:focus {
	border: 2px solid #e3fced;
	background-color: #184f30;
    color: #eafff3;
}

#tab1:checked ~ #loginTab + input[type=text]:focus  {
    border: 3px solid #555;
}

body > div > form {
	color: #bbb;
	display: block;
}

body > div > form > input {
	margin-right: auto;
	margin-left: auto;
	display: block;	
}

body > header > h1 {
	text-color:#d1f8e5;
}


/* Change placeholder properties */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   	color: #b2d8c3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #b2d8c3;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 	color: #b2d8c3;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   	color: #b2d8c3;
}
::-ms-input-placeholder { /* Microsoft Edge */
   	color: #b2d8c3;
}