<!DOCTYPE html>
<html>
<head>
	<title>ListCheckers Login</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/layout_login.css" rel="stylesheet">
</head>
<body>
	<h1 id = "mainTitle">Welcome to ListCheckers!</h1>
	<input id="tab1" type="radio" name="tabs" checked>
  	<label for="tab1">Login</label>

  	<input id="tab2" type="radio" name="tabs">
  	<label for="tab2">Signup</label>

  	<div id="loginTab">
		<form action="../../database/action_page.php">
			<input type="text" name="Email" placeholder="Write your E-Mail here..." value=""><br>
			<input type="text" name="Password" placeholder="... And here your password!" value=""><br>
		<input type="submit" value="Submit">
		</form>
	</div>

	<div id="signupTab">
		<form action="../../database/register.php" method="post">
			<input type="text" name="Name" placeholder="What's your name?" value=""><br>
			<input type="text" name="Email" placeholder="Here goes your E-Mail..." value=""><br>
			<input type="text" name="Password" placeholder="...and here you can write your password!" value=""><br>
		<input type="submit" value="Submit">
		</form>
	</div>
	<div id="signupTab"></div>

</body>
</html>
